body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.bluecontainer {
    background-color: rgb(44, 44, 247);
    padding: 0% 5%;
    background-size: cover;
    background-position: center;
    height: 400px;


    @media (max-width:900px) {
        height: 264px;
    }

    @media (max-width:700px) {
        height: 150px;
    }

}

.bgimage {
    position: absolute;
    top: 8%;
   transform: rotate(-12deg);
    width: 35%;
    height: 300px;
    object-fit: cover;
    opacity: 0.16;
    z-index: 99;
    transition: 0.5s;

    @media (max-width:900px) {
        display: none;
    }
}

.bgimage:hover{
    width: 37%;
    /* transform: rotate(0deg); */
    opacity: 0.7;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar p {
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 15px;

    @media (max-width:700px) {
        column-gap: 10px;
    }

}

.logo img {
    width: 40px;
    height: 40px;

    @media (max-width:700px) {
        width: 30px;
        height: 30px;
    }
}

.logo p {
    font-size: 25px;

    @media (max-width:700px) {
        font-size: 18px;
    }
}

.options {
    display: flex;
    align-items: center;
    column-gap: 25px;

    @media (max-width:700px) {
        display: none;
    }
}

.options p {
    font-size: 12px;
}

.roundedge {
    border-radius: 50%;
    border: 2px solid white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width:700px) {
        width: 25px;
        height: 25px;
    }
}

.usericons {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.usericons img {
    width: 16px;
    padding: 5px;

    @media (max-width:700px) {
        width: 12px;
        padding: 2px;
    }
}

.herosection {
    display: flex;
    width: 100%;
    background:transparent;
    position: absolute;
    top: 100px;
    width: 90%;
    padding: 0% 5%;
    padding-bottom: 100px;

    @media (max-width:900px) {
        flex-direction: column-reverse;
        width: 100%;
        padding-right: 2%;
        box-sizing: border-box;
    }

    @media (max-width:700px) {
        top: 60px;
    }

}

.heroleft {
    width: 45%;
    margin-top: 350px;

    @media (max-width:900px) {
        width: 100%;
        margin-top: -98px;
        width: 55%;
        padding-left: 7%;
        box-sizing: border-box;
    }

    @media (max-width:700px) {
        margin-top: 0px;
        width: 100%;
        padding-left: 0%;
    }

}

.herotitle {
    font-size: 45px;

    @media (max-width:700px) {
        font-size: 34px;
    }
}

.features {
    display: flex;
    column-gap: 30px;
    margin-bottom: 50px;
}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 10px;
    width: 40%;


}

.delivery p,
.warranty p {
    margin: 0;

    @media (max-width:700px) {
        font-size: 12px;
    }
}

.delivery img {
    width: 40px;

    @media (max-width:700px) {
        width: 28px;
    }
}

.warranty {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 15px;
    margin-top: 4px;
    width: 40%;
}

.warranty img {
    width: 25px;

    @media (max-width:700px) {
        width: 20px;
    }
}

.delivery p:nth-child(3) {
    color: gray;
}

.warranty p:nth-child(3) {
    color: gray;
}

.learnmore button {
    background: blue;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 30px;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 255, 0.027) 0px 0px 20px 17px;

    @media (max-width:700px) {
        font-size: 10px;
        padding: 0px 14px;
    }
}

.heroright {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width:900px) {
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }


    @media (max-width:700px) {
        flex-direction: column;
    }


}

.herorighttop {
    width: 100%;


}

.herorighttop img {
    width: 100%;

    @media (max-width:900px) {
        width: 120%;
        margin-left: 0px;
    }

    @media (max-width:700px) {
        width: 100%;
    }

}

.herorightbottom {
    display: flex;
    margin-top: 50px;
    width: 65%;
    justify-content: center;

    @media (max-width:900px) {
        margin-top: 212px;
    }

    @media (max-width:700px) {
        margin: auto;
        width: 80%;
        margin-top: 30px;
    }
}

.vrbag {
    width: 50%;
    height: 85%;
    background-color: black;
    position: relative;
    margin-top: 100px;
    transition: 0.3s;

    @media (max-width:900px) {
        margin-top: 75px;

    }
}

.vrbag:hover{
    scale: 0.95;
}

.vrbag img {
    width: 75%;
    position: absolute;
    top: -47%;
    left: 13%;
    transition: 0.3s;
}

.vrbag img:hover{
    scale: 1.2;
}


.vrbag p {
    color: white;
    margin-top: 52%;
    text-align: left;
    margin-left: 28px;
    letter-spacing: 1px;
    font-size: 16px;

    @media (max-width:700px) {
        font-size: 9px;
        margin-top: 60%;
        margin-bottom: 15%;
    }
}

.fitpack {
    width: 25%;
    height: 100px;
    background-color: yellow;
    position: relative;
    transition: 0.3s;

    @media (max-width:900px) {
        height: 75px;
    }
}

.fitpack:hover{
    scale: 0.8;
}

.fitpack img {
    width: 75%;
    position: absolute;
    top: -28%;
    left: 8%;
    transition: 0.3s;

    @media (max-width:700px) {
        width: 100%;
    }

}

.fitpack img:hover{
    transform: scale(1.2);
}

.fitpack p {
    margin-top: 41%;
    margin-left: 14px;
    font-size: 13px;
    letter-spacing: 2px;

    @media (max-width:700px) {
        font-size: 9px;
    }
}

.linkcable {
    width: 25%;
    height: 100px;
    background-color: skyblue;
    position: relative;
    margin-top: 100px;
    transition: 0.3s;

    @media (max-width:900px) {
        height: 75px;
        margin-top: 75px;

    }
}

.linkcable:hover{
    scale: 0.8;
}

.linkcable img {
    width: 55%;
    position: absolute;
    top: -35%;
    left: 19%;
    transition: 0.3s;

    @media (max-width:700px) {
        width: 90%;
        height: 80%;
    }

}

.linkcable img:hover{
    transform: scale(1.35);
}

.linkcable p {
    margin-top: 41%;
    margin-left: 14px;
    font-size: 13px;
    letter-spacing: 2px;

    @media (max-width:700px) {
        font-size: 9px;
    }
}

.playforreal{
    margin-top: 565px;
    width: 100%;
    padding: 0% 10%;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: #ebeaf8;

    


    @media (max-width:906px) {
        margin-top: 750px;
    }

    @media (max-width:700px) {
        margin-top: 1030px;
    }

    @media (max-width:600px) {
        margin-top: 930px;
    }

    @media (max-width:500px) {
        margin-top: 830px;
    }

    @media (max-width:400px) {
        margin-top: 700px;
    }

   
   
}

.titlesection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}



.titlesection p:nth-child(1){
    font-size: 45px;
    margin: 0;
    margin-bottom: 30px;
}



.titlesection p:nth-child(2){
    color: rgba(128, 128, 128, 0.838);
    margin: 0;
    font-size: 15px;

    @media (max-width:600px) {
        font-size: 13px;
    }

}

.realtitle{
    @media (max-width:600px) {
        font-size: 30px !important;
    }
}

.playforrealcards{
    display: flex;
    column-gap: 40px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
    padding-bottom: 100px;

    @media (max-width:1000px) {
        flex-direction: column;
        row-gap: 100px;
    }
}

.card{
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width:600px) {
        width: 108%;
    }

}



.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;

    @media (max-width:600px) {
        height: 208px;
    }
}

.description{
    background-color: white;
    width: 80%;
    position: absolute;
    bottom: -65px;
    padding-left: 30px;
    height: 134px;
    box-shadow: rgba(149, 157, 165, 0.084) 0px 8px 24px;
    border-radius: 3px;

    @media (max-width:600px) {
        height: 105px;
    }
    
}

.description p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}



.description p:nth-child(2){
    color: gray;
    font-size: 12px;
    line-height: 20px;

    @media (max-width:600px) {
        font-size: 11px;
        line-height: 15px;
    }
}


.getitnow{
    width: 100%;
    height: 300px;
    padding: 0% 5%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;

    @media (max-width:600px) {
        flex-direction: column;
    }
}





@media (max-width:900px) {
    .getitnow{
        flex-direction: column;
        margin-top: 296px;
    }

    .red{
        width: 90% !important;
    }

    .blue{
        width: 90% !important;
    }
}

@media (min-width:900px) {
    .getitnow{
        margin-top: 0px;
    }
}

@media (max-width:600px) {
    .getitnow{
        margin-top: 214px;
    }
}

@media (max-width:400px) {
    .getitnow{
        margin-top: 174px;
    }
}



.red{
    background-color:#ebeaf8;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 416px;
    margin-top: 50px;
   
}

.red img{
    width: 60%;
   
}

.blue{
    background-color:#ebeaf8;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 20px;
    padding-left: 5%;
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-top: 50px;

}

.blue h3{
    font-size: 26px;
}



.gigabytes{
    display: flex;
    background-color: rgba(210, 228, 245, 0.292);
    padding: 5px 10px;
    align-items: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-sizing: border-box;
}

.gigabytes p{
    margin: 0;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.495);
    font-weight: 500;
}

.sixtyfourgb{
    background-color: white;
    padding: 9px 15px;
    margin-right: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.132) 0px 8px 24px;
}

.sixtyfourgb p{
    color: black;
}

.quest2 p:first-child{
    font-size: 13px;
    font-weight: 500;
}

.quest2 p:nth-child(2){
    font-weight: normal;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.781);
}

.quest2withbattery p:first-child{
    font-size: 13px;
    font-weight: 500;
}

.newsletter{
    background-color: #ebeaf8;
    margin-top: 137px !important;
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-left: 100px;
    box-sizing: border-box;
    height: 312px;
}


@media (max-width:900px) {
    .newsletter{
        margin-top: 357px !important;
        padding-left: 21px;
    }

    .newsform{
        width: 100% !important;
       
    }
}


@media (max-width:600px) {
    .newsletter{
        margin-top: 273px !important;
    }

  
}


@media (max-width:400px) {
    .newsletter{
        margin-top: 230px !important;
    }

   
}

.newsform{
    width: 50%;
}

.newsform p{
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 6px;
    color: rgba(155, 148, 195, 0.849);
}

.newsform h3{
    font-size: 28px;
    font-weight: 500;
}

/* .newsform input{
    width: 200px;
    height: 30px;
    padding: 8px;
    outline: none;
    border: none;

} */

.newsform input::placeholder{
    color: gray;
    font-size: 12px;
}

.chatcontainer{
    width: 50%;
    padding-top: 50px;

}


@media (max-width:900px) {
   .chatcontainer{
    display: none;
   }
}

.chatcontainer img{
    width: 328px;
}

.footer{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: flex-start;
    justify-content: space-around;
    background-color: aliceblue;

}

.footeroptions{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 40px;
    
}



@media (max-width:600px) {
    .footer{
        flex-direction: column;
        padding-left: 30px;
        box-sizing: border-box;
    }
}

/* .footeroptions input{
    width: 200px;
    height: 30px;
    padding: 5px;
    outline: none;
    border: none;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
} */

.footeroptions p:first-child{
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    color: black;
   
}

.footeroptions p{
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin: 0;
}